#!/bin/bash

# CONFIG
ARGS="$2"
FOLDER=${PWD##*/} # Equals repo root folder if executed by pre-commit hook
CLEANER="(?<=$FOLDER/).*" # Regex used to clean output by linters (strips full absolute paths to relative path (to $FOLDER))
TEMP_FILE=".bonza/.log"
PY_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep ".py$" | grep -v " ")
JS_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep ".js$" | grep -v " " | grep -v "node_modules")

# Make linter checks
check () {
  #python-check#
  if [ "--fix" == "$ARGS" ]; then
    #javascript-fix-check#
  elif [ "--dryfix" == "$ARGS" ]; then
    #javascript-dryfix-check#
  else
    #javascript-check#
  fi
}

echo "$(check)" > $TEMP_FILE
python3 .bonza/formatter $2

# Check if script was executed manually using ./.bonza/check
if [ "check" == "$1" ]; then
  exit 0
fi

# Output after commit try
if grep -q "): error " $TEMP_FILE; then
    echo -e '\033[0;31mStopped Committing!\n'
    exit 1
fi 
