#!/bin/bash

# CONFIG
FOLDER=${PWD##*/} # Equals repo root folder if executed by pre-commit hook
CLEANER="(?<=$FOLDER/).*" # Regex used to clean output by linters (strips full absolute paths to relative path (to $FOLDER))
TEMP_FILE="bonza.log"
PY_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep ".py$" | grep -v " ")
JS_FILES=$(git diff --cached --name-only --diff-filter=ACM | grep ".js$" | grep -v " " | grep -v "node_modules")

# Make linter checks
check () {
  #javascript-check#
  #python-check#
}

# Check if script was executed manually using ./bonza/check
if [ "check" == "$1" ]; then
  echo "$(check)" > $TEMP_FILE
  python3 bonza/formatter
  rm $TEMP_FILE
  exit 0
fi

# Output after commit try
if grep -q "): error " $TEMP_FILE; then
    echo "$(check)" > $TEMP_FILE
    python3 bonza/formatter
    RED='\033[0;31m'
    echo -e "${RED} Stopped Committing!"
    echo ""
    rm $TEMP_FILE
    exit 1
fi 